<html>
    <head>
        <title>Currency exchange caluclator</title>
    </head>
    <body>
        <h1>NBP Currency exchange calculator</h1>
        
        <form method="POST" action="">
            <label for="value">Currency</label><br>

                {% for code in currency_codes %}
                <input type="radio" id="{{code}}" name="currency" value = {{code}} required>
                <label for="{{code}}">{{code}}</label><br>
                {% endfor %}
            
            <label for="value">Value</label>
            <input type="text" id="value" name="value">
            <input type="submit" value="calculate">
        </form>
        
        {% if total_pln %}
            <p>Exchange rate is equal to {{exchange_rate}} </p>
            <p>{{value}} {{currency}} is equeal to <strong>{{total_pln}} PLN </strong></p>
        {% endif %}
    </body>
</htmls>